/** @format */

.App {
  text-align: center;
  font-family: "Mali", "Segoe UI Emoji";
  padding: 20px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border-radius: 10px;
  margin-top: 30px;
  max-width: 80%;
}

.App-header {
  font-size: 30px;
  border: #fbc2eb;
  background: #fbc2eb;
  border-radius: 10px;
  color: #9d65c9;
  padding: 10px;
  margin-bottom: 20px;
}

.App-footer {
  margin-top: 10px;
}
