/** @format */

.City-Search #city-search {
  margin: 0 auto;
  max-width: 70%;
  padding: 3px 10px;
}

.City-Search .btn {
  border-radius: 10px;
}

.Current-Conditions {
  margin: 0 auto;
  color: #5d54a4;
  font-size: 20px;
  padding: 10px;
  border: #fbc2eb;
  border-radius: 10px;
}

#current-conditions strong {
  font-size: 27px;
  padding-top: 15px;
  padding-bottom: 20px;
}

#current-conditions #description {
  font-size: 20px;
}

.Current-Conditions #selected-city-name {
  font-size: 30px;
}

.Current-Conditions .weather-conditions {
  list-style-type: none;
  padding: 20px;
}

.Current-Conditions .last-updated {
  margin: 0 auto;
  color: #5d54a4;
  font-size: 17px;
  padding: 10px;
  border: #fbc2eb;
  border-radius: 10px;
}

.Current-Conditions #current-temp {
  font-size: 40px;
  font-weight: bold;
}

.Current-Conditions a {
  color: #5d54a4;
  font-weight: normal;
  cursor: default;
}

.Current-Conditions a:hover {
  text-decoration: underline;
  color: #5d54a4;
  font-weight: bold;
  cursor: pointer;
}

.Current-Conditions .units {
  position: relative;
  font-size: 80%;
  font-weight: bold;
  top: -15px;
}

.Current-Conditions .unit {
  position: relative;
  font-size: 70%;
  top: -5px;
}

#current-conditions .weather-icon {
  padding: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  transform: scale(2.5);
  display: block;
}

.Current-Conditions #current-temp-details ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}

.Current-Conditions #current-temp-details li {
  display: inline;
  padding: 40px;
}

.weather-advice {
  font-weight: bold;
  background: #a26dcacc;
  color: #2a3d66;
  padding: 10px;
  border-radius: 10px;
}
